h3 {
  text-align: center;
}

.main-heading {
  text-align: center;
  font-family: sans-serif;
}

.sidebar {
  float: left;
  width: 15%;
  position: absolute;
}

.sidebar-head {
  margin-left: 4%;
}

#panel-one {
  margin-left: 30%;
  margin-right: 2%;
  background-color: #cce0ff
}

#panel-two {
  margin-right: 24%;
  background-color: #cce0ff
}

#panel-three {
  margin-left: 14%;
  margin-right: 10%;
}

#top-box {
  text-align: center;
}

#span1 {
  font-weight: bold;
}
