h3 {
  text-align: center;
}

ol {
  font-size: 18px;
}

.main-heading {
  text-align: center;
  font-family: sans-serif;
}

.sidebar {
  float: left;
  width: 15%;
  position: absolute;
}

.sidebar-head {
  margin-left: 4%;
}

.images {
  margin-left: 15%;
}

.paragraph-text {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
}

#panel-one {
  margin-left: 30%;
  margin-right: 2%;
  background-color: #cce0ff;
}

#panel-two {
  margin-right: 24%;
  background-color: #cce0ff;
}

#panel-three {
  margin-left: 14%;
  margin-right: 11%;
  background-color: #ffe6ee
}

#panel-four {
  margin-left: 14%;
  margin-right: 11%;
  background-color: #ffe6ee
}

#top-box {
  text-align: center;
}

#span1 {
  font-weight: bold;
}
